<div class="w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800 mt-40">
  <div class="px-6 py-4">
    <div class="flex justify-center mx-auto">
      <img class="w-auto h-7 sm:h-8" src="https://merakiui.com/images/logo.svg" alt="Logo">
    </div>

    <h3 class="mt-3 text-xl font-medium text-center text-gray-600 dark:text-gray-200">Admin Login</h3>
    <p class="mt-1 text-center text-gray-500 dark:text-gray-400">Login</p>

    <form [formGroup]="loginData" (ngSubmit)="login()" class="mt-4">
      <div class="w-full mt-4">
        <input formControlName="email"
          class="block w-full px-4 py-2 mt-2 text-white placeholder-gray-500 bg-white border rounded-lg dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-blue-300"
          type="email" placeholder="Email Address" aria-label="Email Address" />
        <p *ngIf="loginData.get('email')?.hasError('required') && loginData.get('email')?.touched" class="text-red-600">Email is required.</p>
        <p *ngIf="loginData.get('email')?.hasError('email') && loginData.get('email')?.touched" class="text-red-600">Please enter a valid email.</p>
      </div>

      <div class="w-full mt-4">
        <input formControlName="password"
          class="block w-full px-4 py-2 mt-2 text-white placeholder-gray-500 bg-white border rounded-lg dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-blue-300"
          type="password" placeholder="Password" aria-label="Password" />
        <p *ngIf="loginData.get('password')?.hasError('required') && loginData.get('password')?.touched" class="text-red-600">Password is required.</p>
        <p *ngIf="loginData.get('password')?.hasError('minlength') && loginData.get('password')?.touched" class="text-red-600">Password must be at least 8 characters.</p>
      </div>

      <div class="flex items-center w-full mt-4">

        <button type="submit"
          class="px-6 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-lg hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50">
          Sign In
        </button>
      </div>
    </form>
  </div>


</div>

